<h1 class="productName"><%= @product.name %></h1>
<p class=productDescription><%= @product.description %></p>
<p class=productPrice><%= @product.price %></p>
<p class=productInventory><%= @product.inventory %></p>

<a href="#" class="js-next" data-id="<%=@post.id%>">Next Product</a>
